<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- link to full docs: https://github.com/UOA-FSAE/f1tenth/wiki/Description -->

    <xacro:macro name="inertial_sphere" params="mass radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(2/5) * mass * (radius*radius)}" ixy="0.0" ixz="0.0"
                    iyy="${(2/5) * mass * (radius*radius)}" iyz="0.0"
                    izz="${(2/5) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_box" params="mass x y z *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (y*y+z*z)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (x*x+z*z)}" iyz="0.0"
                    izz="${(1/12) * mass * (x*x+y*y)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
                    izz="${(1/2) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>

    <!--
    https://github.com/UOA-FSAE/f1tenth/wiki/Description#cylinder_link

    This macro creates a cylinder link
    params:
    > name: name of link
    > mesh_file: link to stl or dae, example `package://f1tenth_description/meshes/chassis_base.stl`
    > radius: radius of wheel (m)
    > width: width of wheel (m)
    > mass: mass of wheel (kg)
    > *origin: need to include origin tag `<origin xyz="0 0 0" rpy="0 0 0"/>`

    example: Create a front left wheel with the name of the link being front_left_wheel, mesh located at the
    f1tenth_description package in the meshes folder called wheel.stl, radius of 0.055m, width of 0.0445m,
    and mass of 0.09kg with a default origin.

    ``` XACRO / XML
    <xacro:cylinder_link name="front_left_wheel" mesh_file="package://f1tenth_description/meshes/wheel.stl"
                 radius="0.055" width="0.0445" mass="0.09">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    <xacro:wheel />
    ```

    There is a no mesh option it's called cylinder_link_nomesh that has the same params just with no mesh.
    -->

    <xacro:macro name="cylinder_link" params="name mesh_file radius width mass *origin">
        <link name="${name}">

            <visual>
                <geometry>
                    <mesh filename="${mesh_file}"
                        scale="0.001 0.001 0.001"/>
                </geometry>

                <xacro:insert_block name="origin" />
            </visual>

            <collision>
                <geometry>
                    <cylinder length="${width}" radius="${radius}" />
                </geometry>

                <xacro:insert_block name="origin" />
            </collision>

            <xacro:inertial_cylinder mass="${mass}" length="${width}" radius="${radius}">
                <xacro:insert_block name="origin" />
            </xacro:inertial_cylinder>
        </link>
    </xacro:macro>

    <xacro:macro name="cylinder_link_nomesh" params="name radius width mass *origin">
        <link name="${name}">

            <visual>
                <geometry>
                    <cylinder length="${width}" radius="${radius}" />
                </geometry>

                <xacro:insert_block name="origin" />
            </visual>

            <collision>
                <geometry>
                    <cylinder length="${width}" radius="${radius}" />
                </geometry>

                <xacro:insert_block name="origin" />
            </collision>

            <xacro:inertial_cylinder mass="${mass}" length="${width}" radius="${radius}">
                <xacro:insert_block name="origin" />
            </xacro:inertial_cylinder>
        </link>
    </xacro:macro>

    <!--
    https://github.com/UOA-FSAE/f1tenth/wiki/Description#box_link

    This macro creates a box link
    params:
    > name: name of link
    > mesh_file: link to stl or dae, example `package://f1tenth_description/meshes/chassis_base.stl`
    > mass: mass of part (kg)
    > x: length of part (m)
    > y: height of part (m)
    > z: width of part (m)
    > *origin: need to include origin tag `<origin xyz="0 0 0" rpy="0 0 0"/>`

    example: Create a lower chassis part with the name of the link being lower_chassis, mesh located at the
    f1tenth_description package in the meshes folder called lower_chassis.stl with a mass of 0.08kg,
    length of 0.31m, width of 0.183m, and a height of 0.03m with its origin being set to 0 0 0.

    ``` XACRO / XML
    <xacro:box_link name="lower_chassis" mesh_file="package://f1tenth_description/meshes/lower_chassis.stl"
                    x="0.31" y="0.183" z="0.03" mass="0.08">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    <xacro:box_link />
    ```
    -->

    <xacro:macro name="box_link" params="name mesh_file mass x y z *origin" >
        <link name="${name}">
            <visual>
                <geometry>
                    <mesh filename="${mesh_file}"
                        scale="0.001 0.001 0.001"/>
                </geometry>

                <xacro:insert_block name="origin" />
            </visual>

            <!-- <collision>
                <geometry>
                    <mesh filename="${mesh_file}"
                        scale="0.001 0.001 0.001"/>
                </geometry>

                <xacro:insert_block name="origin" />
            </collision> -->

            <xacro:inertial_box mass="${mass}" x="${x}" y="${y}" z="${z}">
                <xacro:insert_block name="origin" />
            </xacro:inertial_box>
        </link>
    </xacro:macro>

  <xacro:macro name="box_link_nomesh" params="name x y z mass *origin">
        <link name="${name}">

            <visual>
                <geometry>
                    <box size='${x} ${y} ${z}' />
                </geometry>

                <xacro:insert_block name="origin" />
            </visual>

            <collision>
                <geometry>
                    <box size='${x} ${y} ${z}' />
                </geometry>

                <xacro:insert_block name="origin" />
            </collision>


            <xacro:inertial_box mass="${mass}" x="${x}" y="${y}" z="${z}">
                <xacro:insert_block name="origin" />
            </xacro:inertial_box>
        </link>
    </xacro:macro>
</robot>