<?xml version='1.0'?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Contestants and stuff -->
    <xacro:include filename="$(find f1tenth_description)/urdf/const.xacro" />
    <xacro:include filename="$(find f1tenth_description)/urdf/macro.xacro" />
    <xacro:include filename="$(find f1tenth_description)/gazebo/lidar.gazebo.xacro" />
    <xacro:include filename="$(find f1tenth_description)/gazebo/imu.gazebo.xacro" />
    <xacro:include filename="$(find f1tenth_description)/gazebo/camera.gazebo.xacro" />

    <!-- links and joints -->
    <xacro:include filename="$(find f1tenth_description)/urdf/links.xacro" />
    <xacro:include filename="$(find f1tenth_description)/urdf/joints.xacro" />

    <!-- Gazebo stuff -->
    <xacro:include filename="$(find f1tenth_description)/gazebo/ackermann.gazebo.xacro" />
    <xacro:include filename="$(find f1tenth_description)/gazebo/odometry.gazebo.xacro" />
    <xacro:include filename="$(find f1tenth_description)/gazebo/jsp.gazebo.xacro" />
    <xacro:include filename="$(find f1tenth_description)/gazebo/pose.gazebo.xacro" />

</robot>