<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin
            filename="gz-sim-odometry-publisher-system"
            name="gz::sim::systems::OdometryPublisher">


            <odom_frame>${robot_name}odom</odom_frame>
            <robot_base_frame>${robot_name}base_link</robot_base_frame>
        </plugin>
    </gazebo>

</robot>