<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Steering joints -->
    <joint name="front_left_wheel_steering_joint" type="revolute">
        <child link="front_left_wheel_steering_link" />
        <parent link="base_link" />

        <axis xyz="0 0 1" />
        <limit lower="-0.7" upper="+0.7"
               velocity="3.66" effort="25" />
        <origin xyz="0.1575 0.1025 0.055" rpy="0 0 0"/>
    </joint>

    <joint name="front_right_wheel_steering_joint" type="revolute">
        <child link="front_right_wheel_steering_link" />
        <parent link="base_link" />

        <axis xyz="0 0 1" />
        <limit lower="-0.7" upper="+0.7"
               velocity="3.66" effort="25" />
        <origin xyz="0.1575 -0.1025 0.055" rpy="0 0 0"/>
    </joint>

    <!-- Drive joints -->
    <joint name="front_left_wheel_joint" type="continuous">
        <child link="front_left_wheel" />
        <parent link="front_left_wheel_steering_link" />

        <axis xyz="0 1 0" />
    </joint>

    <joint name="front_right_wheel_joint" type="continuous">
        <child link="front_right_wheel" />
        <parent link="front_right_wheel_steering_link" />

        <axis xyz="0 1 0" />
    </joint>


    <joint name="rear_left_wheel_joint" type="continuous">
        <child link="rear_left_wheel" />
        <parent link="base_link" />

        <axis xyz="0 1 0" />
        <origin xyz="-0.1575 0.1025 0.055" rpy="0 0 0"/>
    </joint>

    <joint name="rear_right_wheel_joint" type="continuous">
        <child link="rear_right_wheel" />
        <parent link="base_link" />

        <axis xyz="0 1 0" />
        <origin xyz="-0.1575 -0.1025 0.055" rpy="0 0 0"/>
    </joint>

    <!-- Chassis Joints-->
    <joint name="base_link_to_box" type="fixed">
        <child link="box_visual" />
        <parent link="base_link" />

        <origin xyz="-0.1554 0.09 0.2" rpy="0 0 0"/>
    </joint>

    <joint name="aruco_to_box" type="fixed">
        <child link="aruco_visual" />
        <parent link="box_visual" />

        <origin xyz="-0.016 -0.146 0" rpy="0 ${pi/2} 0"/>
    </joint>

    <joint name="base_link_to_lower_chassis" type="fixed">
        <child link="lower_chassis" />
        <parent link="base_link" />

        <origin xyz="-0.155 0.09 0.055" rpy="0 0 0"/>
    </joint>

    

    <!-- Sensor Joints -->
    <joint name="hokuyo_10lx_lidar_joint" type="fixed">
        <child link="hokuyo_10lx_lidar_link" />
        <parent link="base_link" />

        <origin xyz="0.1 0 0.15" rpy="0 0 0"/>
    </joint>

    <joint name="camera_joint" type="fixed">
        <child link="camera_link" />
        <parent link="base_link" />

        <origin xyz="0.15 0 0.1" rpy="0 0 0"/>
    </joint>

    <joint name="imu_sensor_joint" type="fixed">
        <child link="imu_sensor_link"/>
        <parent link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

</robot>