<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="base_link">
    </link>

    <!-- Wheels -->
    <xacro:cylinder_link name="front_left_wheel" mesh_file="package://f1tenth_description/meshes/wheel.stl"
                 radius="0.055" width="0.0445" mass="0.09">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 0"/>
    </xacro:cylinder_link>

    <xacro:cylinder_link name="front_right_wheel" mesh_file="package://f1tenth_description/meshes/wheel.stl"
                 radius="0.055" width="0.0445" mass="0.09">
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
    </xacro:cylinder_link>

    <xacro:cylinder_link name="rear_left_wheel" mesh_file="package://f1tenth_description/meshes/wheel.stl"
                 radius="0.055" width="0.0445" mass="0.09">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 0"/>
    </xacro:cylinder_link>

    <xacro:cylinder_link name="rear_right_wheel" mesh_file="package://f1tenth_description/meshes/wheel.stl"
                 radius="0.055" width="0.0445" mass="0.09">
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
    </xacro:cylinder_link>

    <!-- Drive train -->
    <xacro:cylinder_link_nomesh name="front_left_wheel_steering_link"
                    radius="0.003" width="0.01" mass="0.05">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:cylinder_link_nomesh>

    <xacro:cylinder_link_nomesh name="front_right_wheel_steering_link"
                    radius="0.003" width="0.01" mass="0.05">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:cylinder_link_nomesh>

    <!-- Chassis -->
    <xacro:box_link name="lower_chassis" mesh_file="package://f1tenth_description/meshes/chassis_base.stl"
                    x="0.03" y="0.183" z="0.31 " mass="0.08">
        <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
    </xacro:box_link>

    <xacro:box_link_nomesh name='box_visual' x="0.03 " y="0.183" z="0.31" mass="0.001">
        <origin xyz="0 -0.0915 0" rpy="0 0 0"/>
    </xacro:box_link_nomesh >

    <xacro:box_link name="aruco_visual" mesh_file="package://f1tenth_description/meshes/aruco.stl"
                    x="0.03" y="0.183" z="0.31 " mass="0.08">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:box_link>

    


    <!-- Sensor links -->
    <xacro:cylinder_link_nomesh name="hokuyo_10lx_lidar_link"
                    radius="0.05" width="0.08" mass="0.05">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:cylinder_link_nomesh>

    <xacro:box_link_nomesh name="camera_link" x="0.03" y="0.1" z="0.05" mass="0.08">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:box_link_nomesh>


    <link name="imu_sensor_link">
        <gravity>false</gravity>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </link>

    

</robot>