train:
  ros__parameters:
    environment: 'TwoCar'  # CarTrack, CarBeat, TwoCar, MultiAgent
    track: 'multi_track_wide' # track_1, track_2, track_3, multi_track, multi_track_testing
    car_name: 'f1tenth'
    algorithm: 'SAC'
    g: 1
    buffer_size: 1000000
    max_steps_exploration: 1000
    observation_mode: 'lidar_only'
    max_steps_training: 1000000
    is_1d: True
    latent_size: 10
    number_eval_episodes: 3
    is_staged_training: False